<div class="container">
  <div class="row">
      <div class="col-ms-12">
          <h1>Post</h1>
          <ul class="list-group" *ngFor="let post of posts">
            <app-post-detail [post]="post"></app-post-detail>
          </ul>
      </div>
  </div>
</div>