<li
  [ngClass]="{
    'mb-2': true,
    'list-group-item': true,
    'list-group-item-success': post.loveIts == 1,
    'list-group-item-danger': post.loveIts == 2
  }"
>
  <h4 [ngStyle]="{ color: getColor(post.loveIts) }">{{ post.title }}</h4>
  <p>{{ post.created_at | date: "short" }}</p>
  <p>{{ post.content }}</p>
  <button class="btn btn-success mr-2" (click)="onLove()">i love it!</button>
  <button class="btn btn-danger" (click)="onHate()">i hate it</button>
</li>
